header {
    @include flex (row, wrap, space-evenly, center, none);
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    height: rem;
    padding: 1rem 1rem;
}

header .miniLogo img {
    padding-top: 0.7rem;
    height: 3.5rem;
    width: auto;
    cursor: pointer;
}

header .cartIconLink .cartIcon {
    cursor: pointer;
    transition: all 100ms;
    color: map-get($map: $colores, $key:color1);
}

header div a img:hover {
    transform: scale(1.2);
    color: map-get($map: $colores, $key:color4);
}

header a img {
    padding-left: 1rem;
    align-items: center;
}

header .navLinks {
    list-style: none;
    li {
        display: inline-block;
        padding: 0 1.5rem;
        transition: all 100ms;
    }
    a {
        font-weight: 600;
        color: map-get($map: $colores, $key:color1);
    }
}

header .searchIcon {
    transition: all 100ms;
    padding-left: 1rem;
}
header .navLinks li:hover {
    transform: scale(1.2);
    
}

header .navLinks li a:hover {
    color: map-get($map: $colores, $key:color4);
}

header .searchIcon:hover {
    color: map-get($map: $colores, $key:color4);
    transform: scale(1.2);
}

header .icons a img:hover {
    color: map-get($map: $colores, $key:color4);
}
