.localesBody {
    background-image: url(../assets/img/localesImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.localesPage h1 {
    color: map-get($map: $colores, $key:color1);
    font-weight: 700;
    font-size: 100px;
    justify-content: center;
}

.localesSubTitle {
    color: map-get($map: $colores, $key:color1);
    font-weight: 500;
    font-size: 25px;
}

.localesSubTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flechaHaciaAbajoContainer {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 10rem;
}

.locales {
    @include flex(column, wrap, center, center, 10rem);
    padding: 5rem;
    width: 100%;
}

.local {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.local .localInfo {
    color: map-get($map: $colores, $key:color1);
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
}