
.mainBody {
    background-image: url(../assets/img/mainImage.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    margin: 0%;
}

.mainLogoGoatStreetwearContainer {
    @include flex(column,nowrap,center,center,0px);
    height: 100vh;
}

.mainLogoGoatStreetwear {
    height: auto;
    width: 35%;
}
