.newArrivalBody {
    background-image: url(../assets/img/newArrivalsImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.newArrivalTitleContainer h1 {
    color:map-get($map: $colores, $key:color1);
    font-weight: 700;
    font-size: 100px;
}